<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.mapper.SysResourceMapper">
    <resultMap id="BaseResultMap" type="com.manage.model.SysResource">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="pid" property="pid" jdbcType="BIGINT"/>
        <result column="seq" property="seq" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="resource_type" property="resourceType" jdbcType="TINYINT"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, name, url, description, icon, pid, seq, status, resource_type, create_date
  </sql>

    <select id="findResourceById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from sys_resource
        where id = #{id,jdbcType=BIGINT}
    </select>

    <!-- 查询所有父菜单 -->
    <select id="findResourceAllByTypeAndPidNull" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select distinct
        <include refid="Base_Column_List"/>
        from sys_resource
        where resource_type = #{resourceType}
        and pid is null order by seq
    </select>

    <select id="findResourceAllByTypeAndPid" resultMap="BaseResultMap">
        select distinct
        <include refid="Base_Column_List"/>
        from sys_resource
        where resource_type = #{resourceType}
        and pid = #{pid} order by seq
    </select>

    <select id="findResourceAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_resource order by seq
    </select>

    <delete id="deleteResourceById" parameterType="java.lang.Long">
    delete from sys_resource
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.manage.model.SysResource">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sys_resource (name, url, description,
        icon, pid, seq, status,
        resource_type, create_date)
        values (#{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
        #{icon,jdbcType=VARCHAR}, #{pid,jdbcType=BIGINT}, #{seq,jdbcType=TINYINT}, #{status,jdbcType=TINYINT},
        #{resourceType,jdbcType=TINYINT}, now())
    </insert>

    <update id="updateResource" parameterType="com.manage.model.SysResource">
        update sys_resource
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                pid = #{pid,jdbcType=BIGINT},
            </if>
            <if test="seq != null">
                seq = #{seq,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="resourceType != null">
                resource_type = #{resourceType,jdbcType=TINYINT},
            </if>
            <if test="createDate != null">
                create_date = now(),
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>